# 開発者用ロール`mmm`の接続情報
SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_USER=mmm
SNOWFLAKE_ROLE=DBT_TEST_MMM_ROLE
SNOWFLAKE_WAREHOUSE=DBT_TEST_MMM_WH
SNOWFLAKE_DATABASE=DBT_TEST_MMM_DB
SNOWFLAKE_RAW_SCHEMA=RAW
SNOWFLAKE_PRIVATE_KEY_PATH=/home/you/.ssh/snowflake_rsa_key.p8
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=
SNOWFLAKE_PUBLIC_KEY_PATH=/home/you/.ssh/snowflake_rsa_key.pub

# Makefile で使用する Snowflake CLI connection
SNOWFLAKE_ADMIN_CONNECTION=CONN_ADMIN
SNOWFLAKE_DEV_CONNECTION=CONN_MMM
